.container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 0 5px 1px #000;
}
.header_left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.header_right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.navbar {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar select {
    border: transparent;
    background: transparent;
    margin: 0 15px 0 0;
    cursor: pointer;
    color: #000;
    width: auto;
    height: auto;
}
.user_information {
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user_information div {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user_information p {
    margin: 10px;
}
.title {
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title h2 {
    margin: 5px;
    font-size: 14px;
}
.search {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search form {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search input  {
    width: 100%;
    height: 30px;
    margin: 10px;
    border: 2px solid #000;
    border-radius: 5px;
    background: transparent;
}
.content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.content_top {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_top_reconds {
    width: 98%;
    height: auto;
    box-shadow: 0 0 4px 2px #000;
    margin: 20px 0 20px 0;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.content_top_reconds_title {
    width: 100%;
    height: auto;
}
.content_top_reconds h2 {
    margin: 15px;
}

.content_top_reconds_shop {
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: start;
    overflow: auto;
    flex-wrap: wrap;
    align-items: center;
}
.shop {
    width: 100%;
    height: 90px;
    margin: 15px;
    flex-basis: 360px;
    border: 1px solid #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    transition: 0.8s ease-in-out;
}
.shop:hover {
    transform: scale(0.9);
}
.shop_logo {
    width: 70px;
    height: 70px;
    border-radius: 1000vh;
    border: 1px solid  #000;
    overflow: hidden;
}
.shop_logo img {
    width: 100%;
    height: 100%;
}
.content_bottom {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.products {
    width: 98%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.products_title {
    width: 100%;
    height: auto;
}
.products_title h2 {
    margin: 15px;
}
.products_foods {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}
.products_foods_ads {
    width: 100%;
    height: auto;
    flex-basis: 180px;
    border: 1px solid #000;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 10px;
    transition: 0.7s ease-in-out;
}
.products_foods_ads:hover {
    transform: scale(1.1);
}
.products_foods_ads_image {
    width: 100%;
    height: 160px;
    overflow: hidden;
    border-bottom: 1px solid #000;
}
.products_foods_ads_image img {
    width: 100%;
    height: 100%;
}
.products_foods_ads_info {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
    
}
.products_foods_ads_info h3{
    margin: 5px;
}
.products_foods_ads_info p{
    margin: 5px;
}
.products_foods_ads_info_funtion {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0 0 0;
}
.products_foods_ads_info_funtion form {
    width: 100%;
    height: 40px;
    display: flex;
}
.products_foods_ads_info_funtion button {
    width: 50%;
    height: 100%;
    background: transparent;
    border: transparent;
    border-top: 1px solid #000;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.products_foods_ads_info_funtion button:hover {
    background-color: #000;
    color: #fff;
}

/* Overlay */
.overlay_1 {
    width: 30px;
    height: 30px;
    border-radius: 1000vh;
    background-color: #000;
    margin: 5px;
}
.overlay_burger {
    width: 35px;
    height: auto;
    display: none;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
}
.overlay_burger span {
    width: 100%;
    height: 5px;
    background-color: #000;
    margin: 0 0 4px 0;
    border-radius: 20px;
}
.overlay {
    width: 100%;
    height: 0;
    background-color: #fff;
    border-bottom: 1px solid #000;
    position: fixed;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 1s ease-in-out;
}
.categories {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
}
.categories_left {
    width: 30%;
    height: auto;
    display: flex;
    justify-content: left;
    flex-flow: column;
}
.categories_left h2 {
    margin: 15px;
}
.categories_overview {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.categories_overview h3 {
    margin: 0 0 0 10px;
}
.categories_center {
    width: 30%;
    height: 570px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.categories_center_hidden {
    width: 100%;
    height: 570px;
    display: none;
    justify-content: left;
    flex-flow: column;
    opacity: 0;
    transition: 0.5s ease-in;
    overflow: hidden;
}
.categories_center_hidden h2 {
    margin: 15px;
}
.categories_center_hidden span {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    flex-flow: column;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.categories_center_hidden span:hover {
    background-color: #000;
    color: #fff;
}
.categories_center_hidden h4 {
    margin: 15px;
}

/* Responsive */
@media (max-width: 760px) {
    .header {
        justify-content: space-between;
    }
    .header_left {
        width: 360px;
        justify-content: center;
        display: none;
    }
    .header_right {
        width: 360px;
    }
    .title h2 {
        font-size: 12px;
    }
    .user_information p {
        margin: 0;
        font-size: 14px;
    }
    .overlay_1 {
        margin: 5px;
    }
    .overlay_burger {
        display: flex;
        flex-basis: 35px;
    }
}
